@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
body{
    padding: 0;
    margin: 0;
    background-image: url(./assets/worldMap.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    font-family: 'Dosis', sans-serif !important;
}
p {
    width: 80%;
    font-size: 16px;
    text-transform: lowercase;
}
ul{
    padding-left: 0px;
}
li{
    list-style: none;
    border-bottom: 1px solid lightgray;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    z-index: 999;
}
.header *{
    margin: 5px;
    color: white;
}
.header-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: rgba(51, 48, 48, 0.87);
    box-shadow: 0 0 10px white;
    border-radius: 15px;
    margin: 20px 20px 5px 20px;
    padding: 10px;
    width: 250px;
}
.scoreBoard{
    color: white;
    background-color: rgb(165, 103, 4);
    border: 1px solid rgb(165, 103, 0);
    padding: 10px;
    width: 175px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    z-index: 999;
}
.scoreBoard:focus{
    border-color: white;
    outline: none;
}
.scoreBoard:disabled{
    opacity: 0.5;
}
.result{
    display: flex;

}
.ocenaTxt{
    font-size: 25px;
}
.liveScore{
    font-size: 27px;
    margin-right: 5px;
}
.resetScore{
    background-color: transparent;
    border: 2px solid white;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.resetScore:hover{
    transform: scale(1.1);
}
.resetScore:focus{
    outline: none;
}
.main-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 10vh;
}
.gameDesc{
    width: 90vh;
    text-transform: uppercase;
    font-size: 22px;
    background-color: rgba(51, 48, 48, 0.219);
}

.cards-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    position: relative;
    top: 10px;
}

.card{
    width: 20vh;
    height: 20vh;
    border-radius: 15px;
    border: 2px solid black;
    background-color: rgba(51, 48, 48, 0.87);
    box-shadow: 0 0 10px white;
    margin: 10px;
    font-size: 100px;
    color: white;
}
.card:focus{
    outline: none;
    border-color: white;
}
.card:disabled{
    opacity: 0.5;
}
.nextStep{
    color: red;
    border-color: red;
    box-shadow: 0 0 10px red;
}
.scoreDiv{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconBtn{
    background-color: rgb(165, 103, 4);
    border: 1px solid rgb(165, 103, 0);
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    font-size: 18px;
    margin: 5px;
    padding: 10px;
}
.iconBtn:focus{
    border-color: white;
    outline: none;
}
.iconBtn:disabled{
    opacity: 0.5;
}

/* Popup designs */
/* Scoreboard */
.scorePopUp{
    display: none;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-height: 80vh;
    width: 600px;
    position: absolute;
    top: 10vh;
    left: calc(100vh - 300px);
    background-color: rgb(39, 37, 37);
    border: 2px solid black;
    box-shadow: inset 0 0 5px black;
    box-shadow: 0 0 10px white;
    border-radius: 15px;
    color: white;
    padding-bottom: 30px;
}
.scorePopUp h1{
    text-transform: uppercase;
}
.listRow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listRow div{
    text-transform: uppercase;
    width: 150px;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}
.smallHead{
    width: 30px !important; 
}
.listLine{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listLine div{
    width: 150px;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}
.closeBtn{
    background-color: rgb(165, 103, 4);
    border: 1px solid rgb(165, 103, 0);
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    font-size: 16px;
    align-self: flex-end;
    margin-right: 30px;
}
.closeBtn:disabled{
    opacity: 0.5;
}

/* Current Question */
.fullScreen{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 900;
}
.qPopUp{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 100vh;
    min-height: 100px;
    height: auto;
    max-height: 80vh;
    position: absolute;
    left: 46vh;
    top: 10vh;
    background-color: rgb(39, 37, 37);
    border: 2px solid black;
    box-shadow: inset 0 0 5px black;
    box-shadow: 0 0 10px white;
    border-radius: 15px;
    color: white;
    padding: 0 10px 30px 30px;
}
.submitButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}
.answers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}
.btnAnswer{
    display: block;
    position: relative;
    width: 48%;
    height: auto;
    min-height: 40px;
    padding: 5px;
    margin: 5px;
    font-size: 18px;
    background-color: rgb(143, 143, 143);
    border: 2px solid gray;
    border-radius: 5px;
}
.btnAnswer:focus{
    outline: none;
    box-shadow: 0 0 5px white;
    border-color: white;
}
.description{
    display: none;

}
.description h6{
    font-size: 18px;
    margin-right: 10px;
}
.correctBox{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* New Score */
.newScorePopUp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(39, 37, 37);
    border: 2px solid black;
    border-radius: 15px;
    width: 200px;
    color: white;
    padding: 10px;
    box-shadow: 0 0 5px white;
}
.userScore{
    display: none;
    z-index: 999;
    height: auto;
    width: auto;
    position: fixed;
    top: 230px;
    right: 140px;
}
input[type="submit"]{
    width: 100px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    align-self: center;
    border-radius: 5px;
    background-color: rgb(165, 103, 4);
    border: 1px solid rgb(165, 103, 0);
    color: white;
}
.newScorePopUp *{
    margin: 5px;
}
.newScorePopUp input[type="text"] {
    height: 25px;
    background-color: rgb(143, 140, 140);
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    padding: 5px;
}
.newScorePopUp input:focus{
    outline: none;
    /* box-shadow: 0 0 5px white; */
    border-color: white;
}
.newScorePopUp input::placeholder{
    color: rgba(255, 255, 255, 0.623);
}